body {
    background-color: 	#547980;
    font-family:  sans-serif;
    text-align: center;
}

.grid{
    text-align: center;
    background-color: #eee8aa;

}
.item1{
    background-color: $f0e68c;
    padding: ;
}

h1{
    text-align: center;
    border-style: thick;

}

div{
    text-align: left;
}

.header {
    text-align: center;
    background-color: #594F4F;
    border-bottom: solid 4px #9acd32;
}

ul {
    text-align: left
}

h3 {
    text-align: center;
}
table.center {
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}