body {
    background-color: 	#f0e68c;
    font-family:  sans-serif;
    text-align: center;
    ;
}

.grid{
    text-align: center;
    border-bottom: solid 4px #9acd32;
    background-color: #eee8aa;
    height 1500px;
    width: 1500px;
    padding: 10px 10px 10px 10x;

}
.item1{
    padding: ;
}

h1{
    text-align: center;
    border-style: thick;
    font-color: #663399

}

div{
text-align: left;
}

.navigation{
    text-align: center;
    background-color: #eee8aa;
    border-bottom: solid 4px #9acd32;
}