<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<p>This database will hold the twelve months of the year and about 24 different types of vegetables and herbs that are planted in a typical household garden. My stretch goal is to allow users to add other vegetable/herbs to the database.
The goal of the site is to allow users the ability to search either by plant type or month to determine when is the best time to start planting.
One page will list all twelve months, another will list the plants. When a user picks a month a page with all the vegetables and herbs that should be planted that month. A third page allows the user to add other new plants and the appropriate month to begin planting.</p>

</body>
</html>