<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <link rel="stylesheet" href="/styles.css" />
    <meta charset="UTF-8" />
    <title> Annual Garden Planting Calendar</title>
</head>
<body>

<nav th:fragment="navigation" class="header">
    <h1>Planting Calender</h1>
    <a href="/about">About</a>
    <a href="/user">User Login</a>
    <a href="/user/signup">Sign Up</a>
    <a href="/new">Enter a new Plant</a>
    <a href="/plants">Plant List</a>
    <!--a href="/search">Search</a-->
</nav>

</body>
</html>