<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body>
<nav th:replace="fragments :: navigation"></nav>

<h1> Form</h1>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method ="post" >
    <p>Goth: <input type="text" th:field="*{id}" /></p>
    <p>Message: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="submit" /> <input type="reset" value="Reset" /></p>
</form>

<!--div>

    <p>This is an app designed to help you navigate your garden.
        With this app, users will be able to browse the list of plants, search by category, or add new plants to share with other garden enthusiasts.</p>

<div>
    <p th:unless="${goths} and ${goths.size()}">no goths</p>
    <br/><br/>
    Number of goths currently in the system: <span th:text="$goths.size()}">COUNT GOES HERE</span>

    <ul>
        <li th:each="goth : ${goths}" th:text="${goth.noel}"></li>
    </ul>

    <form action="/goth/new" method="post">
        <input type="text" name="gothType" />
        <input type="submit" value="Add this Goth" />
    </form>
</div>

</div-->

</body>
</html>