<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Plants</title>

    <h1>Welcome to Garden Planning.</h1>
    This is an app designed to help you navigate your garden.
    With this app, users will be able to browse the list of plants, search by category, or add new plants to share with other garden enthusiasts.

    <!-- If plants is missing from the model, the rest just silently won't load.-->
    <!-- Since that's confusing, instead of silently skipping the render, explain that something is wrong -->
    <p th:unless="${plants}">Something went wrong. Unable to load plants</p>

    <br/><br/>
    Number of plants currently in the system: <span th:text="${plants.size()}">COUNT GOES HERE</span>.

    <ul>
        <li th:each="plant: ${plants}" th:text="${plant.vegetable}">PLANT GOES HERE</li>
    </ul>

    <form action="/plants/new" method="post">
        <input type="text" name="plantType"/>
        <input type="submit" value="Add this plant"/>
    </form>

</h1>
</head>
<body>
<h1 th:text="${title}">Garden Planning</h1>
</body>
</html>