<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<h2>Edit Plant Details:</h2>
<form method="POST" th:action="@{'/edit/' + ${plant.id}}" th:object="${plant}">
    <table class="center">
        <tr>
            <td>Plant Name: </td>
            <td><input name="plantName" type="text" th:field="*{plantName}"/></td>
        </tr>
        <tr>
            <td>Month to start seedlings indoors: </td>
            <td><input name="startSeedlingsIndoor" type="text" th:field="*{startSeedlingsIndoors}"/></td>
        </tr>
        <tr>
            <td>Month to sow seeds in the ground: </td>
            <td><input name="sowSeedsDirectly" type="text" th:field="*{sowSeedlingsDirectly}"/></td>
        </tr>
        <tr>
            <td>Month to transplant indoor seedlings: </td>
            <td><input name="transplantIndoorSeedlings" type="text" th:field="*{transplantIndoorSeedlings}"/></td>
        </tr>
        <tr>
            <td>Growing Period: </td>
            <td><input name="growingPeriod" type="text" th:field="*{growingPeriod}"/></td>
        </tr>
        <tr>
            <td>Harvest Period: </td>
            <td><input name="harvestPeriod" type="text" th:field="*{harvestPeriod}"/></td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}" />
    <br/>
    <input type="submit" value="Save">
</form>
</body>
</html>