<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body>
<nav th:replace="fragments :: navigation"></nav>

<h1>Welcome!</h1>
    This is an app designed to help you navigate your garden.
        With this app, users will be able to browse the list of plants, search by category, or add new plants to share with other garden enthusiasts.

        <p th:unless="${plants} and ${plants.size()}">Something went wrong. Unable to load plants</p>

        <br/><br/>
        Number of plants currently in the system: <span th:text="${plants.size()}">COUNT GOES HERE</span>

        <ul >
            <li th:each="plant : ${plants}" th:text="${plant.name}"></li>
        </ul>

        <form method="post" action="/plants/new" >
            Plant Name: <input type="text" name="name" />
            <br/> Month to start seedlings indoors: <input type="text" name="startSeedlingsIndoor" />
            <br /> Month to sow seeds in the ground: <input type="text" name="sowSeedsDirectly" />
            <br /> Month to transplant indoor seedlings: <input type="text" name="transplantIndoorSeedlings" />
            <br /> Growing Period: <input type="text" name="growingPeriod" />
            <br /> Harvest Period: <input type="text" name="harvestPeriod" />
            <br /><input type="submit" value="Add this Plant" />
        </form>



</body>
</html>