<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>



<h2>Edit Plant Details:</h2>
<form method="POST" th:action="@{'/edit/' + ${plant.id}}" th:object="${plant}">
    <table class="center">
        <tr>
            <td>Plant Name: </td>
            <td><input name="plantName" type="text" th:field="*{plantName}"/></td>
        </tr>
        <tr>
            <td>Month to Start Seedlings Indoors: </td>
            <td><input name="startSeedlingsIndoor" type="text" th:field="*{startSeedlingsIndoor}"/></td>
        </tr>
        <tr>
            <td>Month to Sow Seeds Outside : </td>
            <td><input name="sowSeedsDirectly" type="text" th:field="*{sowSeedsDirectly}"/></td>
        </tr>
        <tr>
            <td>Month to Transplant Indoor Seedlings: </td>
            <td><input name="transplantIndoorSeedlings" type="text" th:field="*{transplantIndoorSeedlings}"/></td>
        </tr>
        <tr>
            <td>Growing Period: </td>
            <td><input name="growingPeriod" type="text" th:field="*{growingPeriod}"/></td>
        </tr>
        <tr>
            <td>Harvest Period: </td>
            <td><input name="harvestPeriod" type="text" th:field="*{harvestPeriod}"/></td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}" />
    <!--textarea name="plantNotes" placeholder= "Plant Notes..." th:field="*{plantNotes}"></textarea-->
    <br/>
    <input type="submit" value="Save">
</form>
</body>
</html>