<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:action="@{'/plants/' + ${plant.id} + '/edit'}" th:object="${plant}">
    Plant Name: <input type="text" th:field="*{name}" />
    <input type="hidden" th:field="*{id}" />
    <br/> Month to start seedlings indoors: <input type="text" th:field="*{startSeedlingsIndoors}" />
    <br /> Month the sow seeds in the ground: <input type="text" th:field="*{sowSeedsDirectly}" />
    <br /> Month the transplant indoor seedlings: <input type="text" th:field="*{transplantIndoorSeedlings" />
    <br /> Growing Period: <input type="text" th:field="*{growingPeriod}" />
    <br /> Harvest Period: <input type="text" th:field="*{harvestPeriod}" />
    <br /><input type="submit" value="Add this Plant" />
</form>