<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body>
<nav th:replace="fragments :: navigation"></nav>

<h1>Welcome!</h1>
    This is an app designed to help you navigate your garden.
        With this app, users will be able to browse the list of plants, search by category, or add new plants to share with other garden enthusiasts.

        <p th:unless="${plants} and ${plants.size()}">Something went wrong. Unable to load plants</p>

        <br/><br/>
        Number of plants currently in the system: <span th:text="${plants.size()}">.</span>
        <div class="center">
         <ul >
            <th:block th:each="plant: ${plants}">
                <li>
                    <span th:text="${plant.plantName}"></span>
                    <a th:href="@{'/edit/' + ${plant.id}}">Learn More</a>
                </li>
            </th:block>
         </ul>
        </div>
</body>
</html>