<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<!--div class="container body-content">

    <h3>This page is currently under construction. Check back soon for updates!</h3>

    <form th:action="@{/search/results}">

    </form>
</div-->
<h1>Search for a Plant</h1>
<form method="get" th:action="@{'search'}" th:object="${plant}">
    <input type="text" name="keyword" placeholder="Search by Keyword">
    <input type="submit" value="Search"/>
</form>

<ul>
    <li th:each="plant: ${plants}" th:text="${plant.plantName}"></li>
</ul>






</body>
</html>